body {
  background-color: #2b2623;
  color: #FFFFFF; /* Text color for contrast */
}

/* Example of an accent color for links or buttons */


/* Example of a darker shade for borders or headings */
#title{
  font-size: 70px; /* Adjust size as needed */
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #e00808; /* Choose your desired color */
  margin-bottom: 20px; /* Adjust spacing as needed */
  text-align: center; /* Center the title */
  text-transform: uppercase; /* Convert text to uppercase */
  cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.rotated {
  transform: rotate(360deg); /* Rotate element 360 degrees */
}
.fa-github {
  color: #211F1F; /* GitHub color */
  font-size: 150px;
}
.fa-linkedin{
  color: #0077B5; /* LinkedIn color */
  font-size: 150px;
}
#about-me{
  /* font-size: 30px; /* Adjust size as needed */
  font-family: 'Montserrat', sans-serif;
  color: #e00808; 
  font-size: 50px;
  text-align: left;
  text-transform: uppercase; 
  cursor: pointer;
    transition: transform 0.5s ease-in-out; 
  margin-top: 100vh;
  padding-bottom: 100vh;
  
}
#about-me p{
  font-size: 20px; /* Adjust size as needed */
  
}